@model CupCakeShop.Models.Cake

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CupCakeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CupCakeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CupCakePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CupCakePrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedByUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedByUser)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedByUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedByUser)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |

    <a class="btn btn-outline-info" asp-action="Delete" asp-route-id="@Model.ID" >Delete</a> |

    <a class="btn btn-outline-info" asp-action="ViewData">Back to Menu</a>
</div>


