@model IEnumerable<CupCakeShop.Models.Cake>

@{
    ViewData["Title"] = "Index";
}


<h2 class="display-4">Cupcake List</h2>

<form class="form-inline float-right md-form mr-auto mb-4" asp-action="ShowSearchResults">

    <input name="SearchPhrase" class="form-control mr-sm-2" type="text" aria-label="Search">
    <button for="SearchPhrase" class="btn btn-elegant  btn-sm my-0 border-dark pad" type="submit">Search</button>
</form>



<table class="table" id="newpost2">

    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CupCakeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CupCakePrice)
            </th>
            <th>
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-action="Create" class="btn btn btn-light float-sm-right">Create New</a>
                }

            </th>
            <th>

            </th>
        </tr>
    </thead>

    <thead class="thead-light">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CupCakeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CupCakePrice)
                </td>

                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="float-sm-right  btn btn-outline-info" asp-action="Details" asp-route-id="@item.ID">Details</a>
                    }
                </td>
            </tr>
        }

    </tbody>

</table>

<br />
<br />


